.PostDetail {
    padding-left: 100px;
    padding-right: 100px;
}

.PostDetail h1{
    text-align: center;
}

.PostDetail pre{
    background: #333;
    border-radius: 5px;
    padding: 20px;
    white-space: pre-wrap;
    font-family: sans-serif;
    font-size: 14px;
    display: block;
    color: rgb(253, 253, 253);
}

.Clipboard {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}


.Comments {
    margin-top: 100px;
}

.MyCode {
    margin-top: -40px;
}