.AboutNameContainer {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 300px;
    display: block;
    color: azure;
}

body {
    background-color: black;
    font-family: sans-serif;
}

.About {
    margin-top: -30px;
}


.About h3{
    padding: 0px;
    background-color: white;
    font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif!important;
}
.About p{
    
}

button {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    background: black;
    color: white;
    font-family: sans-serif;
    margin-top: 100px;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    border-radius: 2px;
}

button:hover{
    background: white;
    color: black;
}

.title {
    margin: 0;
    padding: 0;
    font-size: 24px;
}

.name{
    margin: 0;
    padding: 0;
    padding: 0px;
    font-size: 56px;
}
